<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829052305775-sssauk6tueurco374508pr690s39g8c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829052305775-sssauk6tueurco374508pr690s39g8c8</string>
	<key>API_KEY</key>
	<string>AIzaSyDAPJ9buZBLh-UpMV4qTFtZ-9ChRx9_UcY</string>
	<key>GCM_SENDER_ID</key>
	<string>829052305775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditCloneApp</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-3a561</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-3a561.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829052305775:ios:f80a1cfa98701d5727a89a</string>
</dict>
</plist>